<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= Settings.app_name rescue "Thecore" %></title>
    <%= tag("link", rel: "manifest", href: asset_path("manifest.json", skip_pipeline: true)) %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'thecore', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'thecore', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: "180x180" %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', sizes: "32x32" %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', sizes: "16x16" %>
    <%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', color: "#5bbad5" %>
    <meta name="theme-color" content="#3b4e59">

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <%= javascript_include_tag "ie" %> <![endif]-->
  </head>
  <body>
    <div class="jumbotron vertical-center">
      <div class="container">
        <div class="col-md-4 col-md-offset-4 text-center">
          <img class="main-menu-app-logo" width="152" src="<%= image_url('logo.png') %>"/>
        </div>
        <%- unless flash.empty? %>
        <div class="col-md-4 col-md-offset-4" style="margin-top: 1em;">
          <%= render partial: 'shared/flash' %>
        </div>
        <%-end%>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
